*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

.card {
    width: 180px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(36, 74, 98);
    color: rgb(196,247,200);
    box-shadow: 6px 4px 7px 2px black;
}


.inner-card {
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 3px 2px 4px 1px black;

}


.inner-card:hover {
    cursor: pointer;
    color: white;
    font-size: larger;
}